<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Contacts">
        <classes>
            <class name="ru.stqa.train.addressbook.tests.ContactCreationTests"/>
            <class name="ru.stqa.train.addressbook.tests.ContactTestsAddContactToGroup"/>
            <class name="ru.stqa.train.addressbook.tests.ContactCreationTestsFileAttachedCheck"/>
            <class name="ru.stqa.train.addressbook.tests.ContactModificationTests"/>
            <class name="ru.stqa.train.addressbook.tests.ContactDeletionTests"/>
            <class name="ru.stqa.train.addressbook.tests.ContactDeletionTestsAll"/>
        </classes>
    </test>
    <test name="Groups" >
        <classes>
            <class name="ru.stqa.train.addressbook.tests.GroupCreationTests" />
            <class name="ru.stqa.train.addressbook.tests.GroupModificationTests" />
            <class name="ru.stqa.train.addressbook.tests.GroupDeletionTests" />
            <class name="ru.stqa.train.addressbook.tests.GroupDeletionTestsAll" />
        </classes>
    </test>
</suite>
